Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Build

# Imported Resources
## https://marketplace-website-node-launcher-prod.ol.epicgames.com/ue/marketplace/en-US/product/contemporary-restaurant
Content/Restaurant
## https://marketplace-website-node-launcher-prod.ol.epicgames.com/ue/marketplace/en-US/product/supergrid-starter-pack
Content/SuperGrid
